
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/.idea/
/.vscode/

# Node dependencies
/package-lock.json

# Mac system files
.DS_Store
.DS_Store?
._*
```